
body.login-page{
    background-color: #D8D1C7;
    background-size:initial;
}
body{
    background-color: white;
}

.container{
     width: 1024px;

    margin: 0;
    color: rgba(247, 245, 241, 0.82);
    background-color: #D8D1C7 !important;
}
.login-box{
 display: inline-block;
    width: 300px;
    height: 396px;
    max-width:1000px;
    /*margin:-10px;*/
    /*padding:1em 2em 2em 2em;*/
    font-family: MyriadPro-Light;
    margin-left: 400px;
}
@media only screen and (max-width: 600px){

	#login-card{
		margin:5%;
        margin-left: 400px;
	}
}
.login-box img {
  /*box-shadow: 1px 1px 1px ;*/
  -webkit-filter: drop-shadow(4px 4px 4px grey);
 /*filter: drop-shadow(5px 5px 5px white);*/
 /*box-shadow: 10px;*/
  margin-left: 101px;
    margin-right:101px;
}
.login{
    display: inline-block;
     width: 300px;
     height:290px;
     background-color:  rgba(247, 245, 241, 0.82);
     color:rgba(59, 83, 114, 1);
     border-radius: 10px;
     border:  white;
     box-shadow: 2px 2px 8px 2px gray;
     }
.login div {

    margin-top:19px;
    text-align: center;
    font-size: 28px;
    font-weight:600;

}
.login form #input1 {
    height:50px;
    padding-left:17px;
    padding-right:18px;
    font-size: 18px;
    color:rgba(59, 83, 114, 1);
}
.login form md-input-container input{
    border: none;
    border-bottom: 1px solid rgba(59, 83, 114, 1);
}

.login form md-input-container label{
    color:rgba(59, 83, 114, 1);
     padding-left:17px !important;
     font-weight:500 !important;
}
.login form #input2{
    height: 35px;
    padding-left:17px;
    padding-right:18px;
    font-size: 18px;
    color:rgba(59, 83, 114, 1);
}
.login form button{
    margin-top: 8px;
    border-radius: 5px;
    margin-left:93.5px;
    width:113px;
    height: 41px;
    font-size: 18px;

    border:1px solid rgba(59, 83, 114, 1);
}
.text-danger{
    color:rgba(236, 13, 13, 1);
    font-size: 12px;
}
.md-raised[disabled]{
    color:rgba(59, 83, 114, 1);
    background-color: rgba(247, 245, 241, 0.82);
}
.md-raised{
    color:rgba(255, 255, 255, 1);
    background-color: rgba(59, 83, 114, 1);
    /*background-color : black;*/
}
/*navbar content*/
@media(min-width:760px){
    .row{
        margin-top:50px;
    }
    .row ul li{
    margin-left:50px;
    display: table-cell;
}
}
@media(min-width:1200px){
    .row ul li{
    margin-left:120px;
    display: table-cell;
}
}
nav{
    background-color: #D8D1C7 !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 50) !important;
    height: 130px;
}
.nav-brand{
    opacity: 100;
    text-align: left;
    color: #3B5372;
    font-family: Ionicons;
    line-height: 0px;
    font-size: 20px;
    font-weight:bold;
    letter-spacing: 0px;
}
.row ul li a{
    width: 100px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #3B5372 !important;
    font-family: LucidaGrande-Bold;
    font-weight:bold;
    line-height: 0px;
    font-size: 16px;
    letter-spacing: 0px;
}
.date{
    color: #3B5372 !important;
    font-family: Applegothic;

    font-size: 16px;
    letter-spacing: 0px;
}
#name{
    color: #3B5372 !important;
    font-family: Applegothic;

    font-size: 16px;
    letter-spacing: 0px;
}
#block{
    width: 255px;
    height: 73px;
    opacity: 100;
    padding-left: 12px;

}
.mail{
    width: 187px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #D8D1C7;
    font-family: AppleGothic;
    line-height: 0px;
    font-size: 15px;
    padding:13px 51px 15px 17px;
}
.logout{
    width: 54px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #D8D1C7;
    font-family: Ionicons;
    line-height: 0px;
    font-size: 15px;
    letter-spacing: 0px;
    padding-left:65%;
    float: left;
}
.logout:hover{
    color: #D8D1C7;
    text-decoration: none;
}


/*card content*/

.card{
     /*border:2px solid rgba(156, 205, 227, 0.99);*/


    border-radius: 4px;
    opacity: 100;
    /*background-color: #FFFFFF;*/
    border: solid 2px #9CCDE3;
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 50%);*/
    width: 288px;
    height:134px;
    margin-left: 29px;
    margin-top: 97px;
    margin-bottom: 337px;
}
#text1 {
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;

    font-size:24px;
    font-weight: bold;
    margin: 49px 0px 57px 50px;


}
#text2 {
    opacity: 100;
    text-align: center;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;

    font-size:24px;
    font-weight: bold;
    margin: 37px 53px 13px 62px;


}
#text3 {
    opacity: 100;
    text-align: center;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;

    font-size:24px;
    font-weight: bold;
    margin: 49px 95px 57px 105px;


}


@media (max-width:760px){
    .text1{
         padding-top: 30%;
    }
}

.toc{
    float: right;
    margin-top: 17px;
    width: 24px;
    height: 24px;
}

.toc1 {
     margin-top: -10px;
    float: right;
    width: 24px;
    height: 24px;
}
.header{
    padding-left:19px;
    padding-right:21px;
}

.navbar {
    position: relative;
    min-height: 1000px;
    margin-bottom: 20px;
    border: 1px solid;
}
