
    <div class="row">

        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <a ui-sref="home.payslip"> <h4 class="text" id="text1">Salary Payslip</h4></a>
                        <!--<span><a ui-sref="home.fallout">-->
                </div>
            </div>

        </div>


        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <a ui-sref="home.attReport">  <h4 class="text" id="text2">Attendance Report</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <h4 class="text" id="text3">Invoice</h4>
                </div>
            </div>
        </div>


    </div>

<div ui-view></div>